{
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "all",
  "proseWrap": "always",
  "endOfLine": "lf",
  "svelteSortOrder" : "styles-scripts-markup",
  "svelteStrictMode": true,
  "svelteBracketNewLine": true,
  "svelteAllowShorthand": false,
  "svelteIndentScriptAndStyle": false
}
