.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
}

#s .tick:last-of-type text,
#l .tick:last-of-type text {
  display: none;
}

.channel canvas {
  float: left;
  /* margin: 40px 30px 0 30px; */
  width: 900px;
  height: 15px;
}

input[type="range" i] {
  -webkit-appearance: slider-horizontal;
  color: rgb(144, 144, 144);
  cursor: default;
  padding: initial;
  border: initial;
  margin: 2px;
}
